NODE_ENV=development
PORT=3000

# DB connection properties:
DATABASE_USERNAME=
DATABASE_PASSWORD=
# example: mongodb+srv://<USERNAME>:<PASSWORD>@db-address...
DATABASE=

# Authentication with JWT properties:
JWT_SECRET=
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES_IN=30

# Comma-separated list of allowed IPv6 to skip request limit for
RATE_LIMIT_ALLOW_LIST=::ffff:127.0.0.1
