.swagger-ui .topbar .topbar-wrapper:after {
  content: url('../../../img/campfire_logo.png');
  zoom: 40%;
  height: 170px !important;
  visibility: visible;
  display: block;
}
.swagger-ui .topbar .topbar-wrapper a {
  display: none;
}
.swagger-ui .topbar {
  background-color: #f8f9fa;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
}
