/**********/
/* HEADER */
/**********/
.swagger-ui .topbar .topbar-wrapper:after {
  content: '';
  display: inline-block;
  width: 384px;
  height: 52px;
  background-size: 384px;
  background-image: url('../../../img/campfire_logo.png');
  visibility: visible;
  margin-bottom: 8px;
}
.swagger-ui .topbar .topbar-wrapper a {
  display: none;
}
.swagger-ui .topbar {
  background-color: #f8f9fa;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
}

/********/
/* INFO */
/********/
.information-container .info .main {
  display: none;
}

.swagger-ui .info p {
  font-size: 18px;
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
  padding: 2px 4px;
}
